body {
    font-family: Arial, sans-serif;
    background: rgba(187, 184, 184, 0.15);
    height: 94.5vh;
}

.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;

}

textarea {
    width: 400px;
    height: 30vh;
    resize: none; /* Disable resizing */
    padding: 7px 7px 7px 7px; /* Adjust padding to make space for buttons */
    box-sizing: border-box; /* Include padding in box sizing */
    color: #c9aa43;
    animation: textAreaColor 5s ease; /* 动画效果 */
}

@keyframes textAreaColor {
    0% {
        color: #b8b7b7;
    }
    20% {
        color: #98b1aa;
    }
    40% {
        color: #bd9898;
    }
    60% {
        color: #667182;
    }
    80% {
        color: #798b6b;
    }
    100% {
        color: #927a7a;
    }
}


.token, .cookie {
    font-weight: bold;
}

textarea:hover {
    color: #85c785;
}

button {
    font-weight: bold;
    color: #fff;
    background-color: #f58425;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    margin-top: 7px;
    margin-bottom: 1px;
    font-size: 14px;
    height: 32px;
    padding: 4px 10px;
    border-radius: 6px;
    border: 0 solid white;
    margin-left: 1.7%;
}

button:hover {
    background: linear-gradient(45deg, #f8ad21, #f8ad21); /* 渐变颜色 */
}

.selectDiv {
    position: fixed;
    top: 11px;
    right: 0;
    transform: translateX(-13%);
    font-weight: bold;
    border-radius: 10%;
    width: 100px;
    text-align: center;
    font-size: 14px;
    background-color: #f58425;
    color: #fff;
    border: 0 solid white;
}

.selected {
    background-color: #f58425;
    padding: 10px;
    border-radius: 5px;
}

.selected:hover {
    background-color: #f8ad21;
}

.options {
    display: none;
    position: absolute;
    background-color: #f1f0f0;
    border-radius: 10%;
    width: 100%;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #f58425;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background: linear-gradient(90deg, #f8dfc7, #f3bd93); /* 渐变颜色 */
    animation: textAreaColor 2s ease infinite; /* 动画效果 */
}


#toast {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #f38920, #f3bd93); /* 渐变颜色 */
    opacity: 0;
    animation: gradientAnimation 2s ease infinite; /* 动画效果 */
}

@keyframes gradientAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#welcome {
    display: none;
    position: fixed;
    top: 10px;
    left: 51%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #f38920, #f3bd93); /* 渐变颜色 */
    animation: gradientAnimation 2s ease infinite; /* 动画效果 */
}


h2 {
    background: linear-gradient(90deg, #f6c05a, #f7f8c6); /* 渐变颜色 */
    -webkit-background-clip: text; /* 文本背景剪裁 */
    -webkit-text-fill-color: transparent; /* 填充颜色透明 */
}
